* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
  /* height used to allow movement of indivdual items that are children */
  /* height: 400px; */
  height: 500px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  /* Always on the main axis(column=vertical, row=horizontal) */
  /* justify-content: space-between; */
  /* Always on the cross axis (column=horizontal row = vertical) */
  /* align-items: center; */
}

.item {
  /* flex-basis: 100px; */
  /* creates a flex container for the item contents/children */
  display: flex;
  flex: 1 0 100px;
  /* allboxes will be the same if some 2 than that box would start at flex basis width and grow 2x as much*/
  /* flex-grow: 1; */

  justify-content: center;
  align-items: center;
  height: 100px;
  /* flex-direction: column; */
  background: #254de4;
  color: #fff;
  margin: 10px;
}

.item:nth-of-type(1) {
  /* align-self: start; */
}
.item:nth-of-type(2) {
  /* align-self: center; */
}
.item:nth-of-type(3) {
  /* aligns 3rd item seperatly from the others */
  /* align-self: end; */
}
